<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <title> 幸运大转盘 </title>
    
</head>
<style>
.pics{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 100px auto;
}
.pic1{
    width: 600px;
    height: 400px;
}
@keyframes picDraw {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.pic2{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 0;
    top: 0;
    -webkit-animation: picDraw 5s ease-in-out infinite;
}
</style>
<body>
    <div class="pics">
         <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1565070048390&di=d17ca71c421fb37f010670b13f8469a0&imgtype=0&src=http%3A%2F%2Fent.workercn.cn%2Fhtml%2Ffiles%2F2019-01%2F17%2F20190117152902813736386.jpg" alt="" class="pic1">
         <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1565070048392&di=25517e3e1c388458ca1fa224f252a09b&imgtype=0&src=http%3A%2F%2Fpic4.zhimg.com%2F50%2Fv2-5fba3a93e46665204b748149d4125ffb_bh.jpg" alt="" class="pic2">
     </div>    
 <script type="text/javascript">
 
 </script>
 
</body>
</html>
