.prize_form {
    text-align: center;   
    background-image: linear-gradient(to right, #ffef93 0%, #ffa4c0 100%);
}

.btn2 {
    padding: 20px 0 0 20px;
    text-align: left;
    background-image: linear-gradient(to right, #ffef93 0%, #ffa4c0 100%);
}

.title2 {
    font-size: 60px;
    padding-bottom: 25px;
}